* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", serif;
  font-size: 16px;
  color: beige;
}

body {
  background-color: rgb(22, 22, 22);
  color: beige;
}
.logo-name-heading {
  font-family: "Poppins", sans-serif;
  margin: 15px;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
}
.nav-link {
  margin: 25px;
}
.nav-link a {
  padding: 0 10px;
  text-decoration: none;
}

.header-container {
  background-color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(68, 68, 68);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  overflow: hidden;
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.section-main {
  margin-top: 140px;
  margin-left: 15%;
  margin-right: 15%;
  max-width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}
.main-intro {
  margin: 50px 20px;
}

.main-image-size {
  height: 400px;

  float: right;
}
.main-heading {
  font-size: 3rem;
  margin: 20px;
  text-align: center;
}
.main-content {
  font-size: 1.5rem;
  text-align: center;
}
section {
  background: transparent;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  margin: 0 10%;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
  border: 2px solid rgba(255, 255, 255, 0.3);
  min-width: 300px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.section-content {
  text-align: center;
  margin: 0 5%;
}

.section-container {
  margin-top: 100px;
}

.section-heading {
  font-size: 2rem;
  padding: 10px;
  font-weight: 300;
}
.section-about {
  font-size: 2.5rem;
  padding: 10px;
  font-weight: 400;
}

.section-description {
  font-size: 1.25rem;
  margin: 20px 0;
  font-weight: 200;
}

.section-links {
  font-size: 2rem;
  color: rgb(235, 164, 99);
  padding: 0 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
}
.logo {
  /* padding: 0 10px; */
  margin: 10px 15px;
  height: 30px;
  width: 30px;
}
/* work section css */

.section-about {
  text-align: center;
}

.work-card {
  margin: 0 5%;

  display: grid;
  grid-template-rows: auto auto auto;
}

.work-card-bg {
  margin: 10px 0;
  justify-content: center;
}

.work-image {
  margin: 2% 3%;
}
.image-size {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.project-heading {
  margin: 2% 5%;
  font-size: 2rem;
  font-weight: 200;
}
.project-info {
  margin: 2% 5%;
  font-size: 1.25rem;
  font-weight: 200;
}
.project-description {
  margin: 2% 5%;
  font-size: 1.25rem;
  font-weight: 100;
}

.project-tools {
  margin: 2% 5%;
  font-size: 1rem;
  font-weight: 200;
  list-style: none;
}
.tool-name {
  display: inline-block;
  margin: 0 10px;
  padding: 5px;
  border: 2px solid rgb(216, 185, 10);
  border-radius: 5px;
  color: rgb(216, 185, 10);
}

.work-btn {
  background: rgb(50, 125, 211);
  border: 2px solid rgb(8, 8, 8);
  border-radius: 10px;
  height: 50px;
  width: 180px;
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  margin: 2% 5%;
}
.work-btn span {
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.work-btn span:after {
  content: "\00bb";
  position: absolute;

  opacity: 0;
  top: 0;
  transition: 0.3s;
}

.work-btn:hover span {
  padding-right: 22px;
}

.work-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.work-btn:hover {
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  height: 50px;
  width: 180px;
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
  margin: 2% 5%;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  body {
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    color: beige;
  }

  .section-main {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    max-width:auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }

  .main-image{
    
    margin: auto auto;
  }

  .main-image-size {
    height: 400px;
  }
  .menu {
    margin: 4px;
    height: 3px;
    width: 30px;
    background-color: rgb(255, 255, 255);
  }
  .header-menu {
    margin-top: 23px;
    margin-right: 20px;
  }
  .main-content{
font-size: 1rem;
  }
  .main-heading{
font-size: 2rem;
margin-bottom: 40px;
  }
  .nav-link {
    display: none;
  }
  .section-heading {
    font-size: 1.25rem;
    padding: 10px;
    font-weight: 300;
  }
  .section-about {
    font-size: 1.5rem;
    padding: 10px;
    font-weight: 400;
  }

  .section-description {
    font-size: 0.75rem;
    margin: 20px 0;
    font-weight: 200;
  }

  .section-links {
    font-size: 1rem;
    color: rgb(235, 164, 99);
    padding: 0 20px;
  }

  .project-heading {
    margin: 4px 5px;
    font-size: 1rem;
    font-weight: 200;
  }
  .project-info {
    margin: 4px 5px;
    font-size: 0.75rem;
    font-weight: 200;
  }
  .project-description {
    margin: 4px 5px;
    font-size: 0.75rem;
    font-weight: 200;
  }

  .project-tools {
    margin: 4px 5px;
    font-size: 0.75rem;
    font-weight: 200;
    list-style: none;
  }

  .work-btn {
    background: rgb(50, 125, 211);
    border: 1px solid rgb(8, 8, 8);
    border-radius: 10px;
    height: 30px;
    width: 120px;
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    margin: 4px 5px;
  }

  .work-btn:hover span {
    padding-right: 20px;
  }

  .work-btn:hover {
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    height: 30px;
    width: 120px;
    color: rgb(0, 0, 0);
    font-size: 0.75rem;
    margin: 4px 5px;
    cursor: pointer;
  }
}

/* 
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

input,
textarea {
  display: flex;
  flex-direction: column;
  margin: 20px 30%;
  height: 30px;
  width: 300px;
  overflow: hidden;
} */

/* Make the form responsive */
.contact-form {
  max-width: 100%;
  margin: 0 auto;
}

/* Center the inputs and textarea */
.name-form,
.email-form,
.text-form {
  border-radius: 8px;
  border: 2px solid rgb(102, 175, 209);
  height: 30px;
  display: block;
  margin: 16px auto;
  width: 100%;
  max-width: 70%;
  padding: 5px 10px;
}

.text-form {
  min-height: 120px;
  padding-top: 10px;
}
/* Media query for smaller screens */
@media (max-width: 576px) {
  .name-form,
  .email-form,
  .text-form {
    max-width: 70%;
  }
}
